extends base

block content
  main.main
    .card-container
      if tours.length > 0
        each tour in tours
          .card
            .card__header
              .card__picture
                .card__picture-overlay &nbsp;
                img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
              h3.heading-tertirary
                span= tour.name

            .card__details
              h4.card__sub-heading= `${tour.difficulty} mile, ${tour.duration}-hour tour`
              p.card__text= tour.summary
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-map-pin')
                span= tour.startLocation.description
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-calendar')
                span= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-flag')
                span= `${tour.locations.length} stops`
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-user')
                span= `${tour.maxGroupSize} people`

            .card__footer
              p
                span.card__footer-value= `$${tour.price}`
                //- empty pipeline to add a whitespace
                | 
                span.card__footer-text per person
              p.card__ratings
                span.card__footer-value= tour.ratingsAverage
                | 
                span.card__footer-text= `rating (${tour.ratingsQuantity})`
              a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details
      
      else
        .error
          .error__title
            h2.heading-secondary.heading-secondary--error No Tours Available!
          .error__msg Book a tour now to see your tours! 
    .about-section
      .about-section__text
        h2.heading-secondary Welcome
        p.description Welcome to Paris THC Tours—where history, art, and a cannabis-friendly spirit come together for an unforgettable 3-hour journey through the heart of Paris. Our motto is simple: explore the city, enjoy responsibly, and learn from local experts. We're passionate about Paris's cafés, cafés-crèmes, and cobblestone streets—plus the unique subculture that embraces cannabis tourism in a safe, discreet, and entirely legal way.
        br
        p.description Our founders, Lee and Charlie, are seasoned Paris residents who share a deep love for both the city's renowned landmarks and its emerging 420-friendly scene. We do not sell cannabis directly; instead, we offer carefully curated stop-offs at trusted local boutiques, private lounges, or CBD shops, along with expert guidance on how to stay within France's legal guidelines.
    