extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet')

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= `${tour.name} tour`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} hours`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          //- javascript code is written after ("-") so that it won't produce output in the page
          - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          +overviewBox('Next date', date, 'calendar')
          +overviewBox('Difficulty', tour.difficulty, 'trending-up')
          +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
          +overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

              - if (guide.role === 'lead-guide')
                span.overview-box__label Lead guide
              span.overview-box__text= guide.name


    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      - const paragraphs = tour.description.split('\n');
      each paragraph in paragraphs
        p.description__text= paragraph

  section.section-pictures
    each img, i in tour.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${img}`, alt=`${i + 1}`, class=`picture-box__img--${i + 1}`)

  //- section.section-map
  //-   #map(data-locations=`${JSON.stringify(tour.locations)}`)

  //- section.section-reviews
  //-   .reviews
  //-     each review in tour.reviews
  //-       +reviewCard(review)

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `Chillest tour with coolest vibes in Paris. Book Today!`
        if user
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
        else
          a.btn.btn--green.span-all-rows(href='/login') Log in to book tour

    br
    br  
    br
    br

    .about-section
      h2.heading-secondary Contact Us
      p.contact-text Have questions about our tours? Get in touch!
      .contact-details
        .contact-item
          svg.contact-icon
            use(xlink:href='/img/icons.svg#icon-mail')
          span.contact-label Email:
          a.contact-link(href='mailto:parisTHCtours@gmail.com') parisTHCtours@gmail.com
    
        br
        br

      h2.heading-secondary FAQ
      .faq-item
        h3.faq-question Is cannabis legal in Paris?
        p.faq-answer While recreational cannabis is not legal in France, our tours focus on legal CBD products and cannabis culture education. We ensure all activities comply with local laws.

      .faq-item
        h3.faq-question What should I bring?
        p.faq-answer Comfortable walking shoes, a valid ID, and an open mind! Our tours involve walking through historic neighborhoods. We'll take care of everything else.

      .faq-item
        h3.faq-question Are the tours in English?
        p.faq-answer Yes! All our tours are conducted in English by fluent guides. 

      .faq-item
        h3.faq-question What's your cancellation policy?
        p.faq-answer Full refunds available for cancellations made 48 hours in advance. Contact us for more details about our flexible booking policy.